{% extends 'core/base.html' %}
{% load static %}

{% block titulo%}
     Facultad privada
{% endblock titulo %}

{% block contenido %}
                <!-- Heading Row-->
                <div class="row gx-4 gx-lg-5 align-items-center my-5">
                    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/note.webp' %}" alt="..." />
                </div>
                    <div class="col-lg-5">
                        <h1 class="font-weight-light">Curso</h1>
                        <p>Informacion sobre el curso businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                        <a class="btn btn-primary" href="https://wa.me/5493516013708" target="_blank">WhatsApp</a>
                    </div>
                </div>
                <!-- Call to Action-->
                <div class="card text-white bg-secondary my-5 py-4 text-center">
                    <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
                </div>
                <!-- Content Row-->
                <div class="row gx-4 gx-lg-5">
                    {% include 'core/componentes/card.html' with titulo="tarjeta 1" texto="promo1" %}
                    {% include 'core/componentes/card.html' with titulo="tarjeta 2" texto="promo2" %}
                    {% include 'core/componentes/card.html' with titulo="tarjeta 2" texto="promo2" %}
                    {% include 'core/componentes/card.html' with titulo="tarjeta 3" texto="promo3" %}
                </div>
{% endblock contenido%} 